<h2 class='session-title'>Resend confirmation instructions</h2>

<div class="session-form">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.email_field :email, autofocus: true, class: 'session-input', autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'email' %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: 'session-button' %>
    </div>
  <% end %>

  <div class="session-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
