<h2 class= "session-title">Change your password</h2>

<div class= 'session-form'>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <!--<%= f.label :password, "New password" %><br />-->
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'session-input', placeholder: 'password' %>
    </div>

    <div class="field">
      <!--<%= f.label :password_confirmation, "Confirm new password" %><br />-->
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'session-input', placeholder: 'Repeat password' %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: 'session-button' %>
    </div>
  <% end %>

  <div class="session-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
