<h2 class="session-title">Forgot your password?</h2>

<div class="session-form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'session-input', placeholder: 'email' %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: 'session-button' %>
    </div>
  <% end %>

  <div class= 'session-links'>
    <%= render "devise/shared/links" %>
  </div>
</div>
