$('#my-posts').append('<%= j render @tags %>');
<% if @tags.next_page %>
    $('.pagination').replaceWith('<%= j will_paginate @tags %>');
    $('.pagination').hide();
<% else %>
    $('.pagination, #load_more_posts').remove();
<% end %>
