<div id="my-posts">
  <%= render @tags %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

<% if @tags.next_page %>
    <div id="load_more_posts">More posts</div>
<% end %>
