<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @tag.taggy %></h2>
  <h5 class="text-center"><%= @tag.created_at %></h5>
</div>


<p><%= link_to "Edit", edit_tag_path(@tag)%></p>
<p><%= link_to "Return to list", tags_path%></p>
