<div class='article-preview'>
  <ul class= 'article-preview-tags'>
      <% article.tags.first(Article::TAGS_PREVIEW_LIMIT).each do |tag| %>
        <li class='article-tag'> <%= link_to tag.taggy, tag_path(tag.taggy) %> </li>
      <% end %>
      <% if ((@more_tags = article.tags.count - Article::TAGS_PREVIEW_LIMIT) > 0) %>
        <li class='article-tag'> <%= '+' + @more_tags.to_s + '...'%> </li>
      <% end %>
  </ul>
  <%= link_to article_path(article) do %>
    <div class='article-flex'>

      <%= image_tag article.header_img.url(:medium), class: 'article-preview-img' %>

      <h2 class= 'article-preview-title'><%= article.title %></h2>

      <p class='article-preview-sub'><%= truncate(strip_tags(article.content), length: 200) %></p>

      <!--<small><em class="article-time"><%= article.timestamp %></em></small>-->

      <% if article.draft? %>
        <em class= 'article-preview-draft'> This article is a draft </em>
      <% end %>
    </div>
  <% end %>
</div>
