<% if !@articles.blank? %>
  <div id="my-posts" class='articles-list'>
    <%= render @articles %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate %>
  </div>

  <% if @articles.next_page %>
      <div id="load_more_posts" class='load-more-button'>More posts</div>
  <% end %>
<% end %>
