<div class= 'article-form-container'>
  <%= form_for @article, html: { multipart: true } do |f| %>

      <%= f.label :header_img, class: 'editor-label' %>
      <%= f.file_field :header_img, class: 'editor-header-input'%><br>

      <%= f.text_field :title, class: 'editor-article-title', placeholder: 'Title' %>

      <%= f.label :content %><br>
      <%= f.cktext_area :content, :ckeditor => {:toolbar => 'FULL'}, class: 'articles-editor' %>

      <%= f.select :tags, Tag.all.collect{|tag| [tag.taggy, tag.id]}, {}, multiple: true, class: 'editor-tags-selector' %>

      <div class="check-draft">
        <%= f.check_box :draft %>
        <%= f.label "Save as Draft", class: 'draft-label' %><br>
      </div>
      <%= f.submit 'Publish article', class:'session-button' %>
  <% end %>
</div>
