$('#my-posts').append('<%= j render @articles %>');
<% if @articles.next_page %>
    $('.pagination').replaceWith('<%= j will_paginate @articles %>');
    $('.pagination').hide();
<% else %>
    $('.pagination, #load_more_posts').remove();
<% end %>
