<div class="article-content">

  <div class="article-header-zone" style="background-image: url(<%=@article.header_img.url(:large)%>);">
    <div class='article-title-container'>
      <h2 class="article-title"><%= @article.title %></h2>
    </div>
  </div>

  <div class='article-content-zone'><%= raw @article.content %></div>

  <h5 class="article-time"><%= @article.short_timestamp %></h5>

  <ul>
    <% @article.tags.each do |tag| %>
      <li class='article-tag'> <%= link_to tag.taggy, tag_path(tag.taggy) %> </li>
    <% end %>
  </ul>


  <% if @article.draft? %>
    <em class='draft-tag'> This article is a draft </em>
    <%= button_to "Publish", action: :publish_draft, :articleid => @article.id %>
  <% end %>

</div>

<div class='article-end-list'>
  <% if !current_user.blank? %>
    <p><%= link_to "Edit", edit_article_path(@article)%></p>
  <% end %>

  <p><%= link_to "Return to list", articles_path%></p>
</div>
