<!DOCTYPE html>
<html>
<head>
  <title>Manteinance</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>

  </style>
</head>

<body>
  <div class="manteinance-dialog">
    <img alt="Logo" src="https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/Logo_color.png?versionId=M5SBYqTepT5kW16cOzd8FgGJAgRqF.JE" class='manteinance-logo'>
    <div class="manteinance-data">
      <h1 class="manteinance-header">Just fixing some stuff, won't take long!</h1>
      <p class="manteinance-content">luismoyano.net is under some manteinance, but please come back soon!</p>
      <%= render partial:'layouts/rrss', locals:{html_class: "manteinance-media"} %>
    </div>
  </div>
</body>
</html>
