<% if !@article.blank? %>
  <div class="article-home-thumb">
    <a href="/">
      <img alt='logo' class='logo-thumb' src='https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/Logo_color.png?versionId=M5SBYqTepT5kW16cOzd8FgGJAgRqF.JE'>
    </a>
  </div>
<% end %>
