<% if !ActiveModel::Type::Boolean.new.cast(ENV['MANTEINANCE_MODE']) %>
  <%= render 'layouts/menu_layout' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/devise_msg' %>
  <%= render 'layouts/article_thumb' %>
<% end %>
