<div class= "<%="#{'article-display' if !@article.blank?}" %>">
  <div class= 'header'>
    <%= link_to root_path, class: 'header-home' do %>
      <div class='header-left'>

          <img alt='logo' class='header-logo' src='https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/Logo_color.png?versionId=M5SBYqTepT5kW16cOzd8FgGJAgRqF.JE' >
          <h1>Luis Moyano</h1>

      </div>
      <%= render partial:'layouts/menu_links', locals:{html_class: "menu-header-item"} %>
    <% end %>

    <div class='header-right'>
      <% if !current_user.blank? %>
        <p class='author-header'><%= current_user.author %></p>
      <% end %>
      <%= ion_icon 'android-menu', onclick:"openMenu()" %>
    </div>
  </div>
</div>
