<div class="menu-layout" id='menu-overlay'>
  <%= ion_icon 'close', class: 'menu-layout-close', onclick:'closeMenu()'%>

  <%= render partial:'layouts/menu_links', locals:{html_class: "menu-layout-item"} %>

  <%= render partial:'layouts/rrss', locals:{html_class: "layout-media-icons"} %>

</div>
