<ul>
  <% if html_class != "menu-header-item" %>
    <li class="<%= html_class %>"><%= link_to 'Home', root_path %></li>
  <% end %>
  <li class="<%= html_class %>"><%= link_to 'About', about_path %></li>
  <% if !current_user.blank? %>
    <li class="<%= html_class %>"> <%= link_to 'New article', new_article_path %> </li>
    <li class="<%= html_class %>"> <%= link_to 'drafts', drafts_path %> </li>
    <li class="<%= html_class %>"> <%= link_to('Sign out', destroy_user_session_path, method: :delete) %> </li>
  <% end %>

</ul>
