<div class= <%= html_class %> >
  <a href='https://www.facebook.com/luis.muleta'><%= ion_icon 'social-facebook-outline' %></a>
  <a href='https://www.instagram.com/lmoyanomedina/'><%= ion_icon 'social-instagram-outline' %></a>
  <a href='https://gitlab.com/luismoyano'><%= ion_icon 'network' %></a>
</div>
