<!DOCTYPE html>
<html>
  <head>
    <title>Luis's stuff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway" rel="stylesheet">

    <link rel="icon" type="image/png" href="https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/favicon-16x16.png" sizes="16x16" />


  </head>

  <body>
    <%= render 'layouts/blog_view' %>
    <%= yield %>
  </body>
</html>
