<h2 class="session-title">Sign up</h2>

<div class="session-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'session-input', placeholder: 'email' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'session-input', placeholder: 'password' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'session-input', placeholder: 'repeat password' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'session-button' %>
    </div>
  <% end %>

  <div class="session-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
