<div class="about-container">
  <h2 class="about-title">I write things</h2>
  <h3 class="about-subtitle">Sometimes stories, sometimes code</h3>
  <div class="about-pics">
    <img alt="pic01" src=https://s3.eu-west-2.amazonaws.com/luismoyanoblog/about/luis_pic_01.png>
    <img alt="pic02" src=https://s3.eu-west-2.amazonaws.com/luismoyanoblog/about/luis_pic2.png>
  </div>
  <div class="about-content">
    <p>
      So, hey! I'm this game developer who's resilient and experiments a lot and fails so hard but keeps trying, sometimes I don't know but I wanna find out.
      Here you'll find the results and conclusions of some of these experiments, also some writing prompts!
    </p>

      <br>

    <p>
      Aaaaaand I've worked on lots of games like <span><a class="about-ds-link" href="https://www.klei.com/games/dont-starve">Don't Starve</a></span>
      or <span><a class="about-of-link" href="http://nightschoolstudio.com/oxenfree/">Oxenfree</a></span> or <span><a class="about-soma-link" href="http://somagame.com/">Soma</a></span>.
    </p>

      <br>

    <p>
      Currently Senior QA at <span><a class="about-bs-link" href="http://www.beesquare.net/">Bee Square!</a></span> People pay me to play games (:
    </p>

    <br>

    <p>
      Also! The lovely drawing is something made in like three minutes by <span><a class="about-patou-link" href="http://patougribouille.fr/">Patou Gribouille</a></span>.
    </p>

    <br>

    <h3>Nice! but what <i>can</i> you actually find here? </h3>

    <p>
      Well, this web application is intended to work as a personal diary and a portfolio, so here you may find personal stuff, stories anecdotes and so on, on the other hand you may find more techie stuff which I might find interesting,
      such as articles or tutorials where I showcase experiments, games or specific solutions to specific problems I might found while <i>QAing</i> or coding (:
    </p>

    <br>

    <h3> Where have you worked? </h3>

    <p>
      Mmmmm... I've worked with lots of game studios as an external QA for any kind of games deployed on lots of platforms, and recently I've been in charge of the quality of games at Bee,
      plus I've been freelancing at some
    </p>

    <br>

    <h3> Can we build bridges? </h3>

    <p>
      I'm open for interesting projects on web programming, web games and mobile development,  here's a lost of technologies I'm confident with, so if they fit with your needs
      <span><a class="about-bs-link" href="mailto:luis@luismoyano.net?Subject=From%20web"> we should talk </a></span>
    </p>

    <ul>
      <li> Rails </li>
      <li> Cocos2Dx </li>
      <li> Unity </li>
      <li> Unreal Engine </li>
    </ul>

    <p>
      Oh oh oh! And all the code for this website is available on my <a class="about-patou-link" href="https://gitlab.com/luismoyano/Blog">code repository</a> and is free to grab and play with it in case you want to do something of our own (:
    </p>

  </div>
</div>
