@import 'base/vars';
@import 'base/mixins';

.about-container{
  margin: 80px 0;

  @include for-size($phone-land){
    margin: 30px 0;
  }
}

.about-title{
  color: $yellow_base;
  font-size: 120px;
  text-align: center;
  margin-bottom: 10px;

  @include for-size($phone-land){
    font-size: 80px;
    margin-top: 30px;
  }

  @include for-size($tablet-port){
    font-size: 140px;
    margin-top: 30px;
  }

  @include for-size($tablet-land){
    font-size: 101px;
    margin-top: 60px;
  }
}

.about-subtitle{
  color: $yellow_base;
  font-style: italic;
  font-size: 35px;
  text-align: center;
  margin-top: 0;

  @include for-size($phone-land){
    font-size: 28px;
  }

  @include for-size($tablet-port){
    font-size: 40px;
  }
}

.about-pics{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;

  @include for-size($phone-land){
    margin: 40px;
  }

  @include for-size($tablet-land){
    margin: 40px;
  }
}

.about-pics *{
  width: 280px;
  height: auto;

  @include for-size($phone-land){
    width: 200px;
  }

  @include for-size($tablet-port){
    width: 250px;
  }

  @include for-size($tablet-land){
    width: 180px;
  }
}

.about-content{
  font-size: 40px;
  width: 80%;
  margin: 0 10%;
  text-align: justify;

  @include for-size($phone-land){
    font-size: 30px;
  }
}

.about-content p{
  @include for-size($phone-land){
    margin: 10px 0;
  }
}

.about-content h3 {
  color: $yellow_base;
}

.about-link{
  font-family: 'Raleway';
  font-weight: bold;
}

.about-ds-link{
  @extend .about-link;
  color: $yellow_base;
}

.about-of-link{
  @extend .about-link;
  color: #243E3B;
}

.about-soma-link{
  @extend .about-link;
  color: #0B0F0B;
}

.about-bs-link{
  @extend .about-link;
  color: $yellow_strong;
}

.about-patou-link{
  @extend .about-link;
  color: $blue_nice;
}
