@import 'base/vars';
@import 'sessions';
@import 'base/mixins';
/* PAGINATION */

#load_more_posts {
    display: none;
    margin-bottom: 10px; /* Some margin to separate it from the footer */
}

.articles-list{
  margin:{
    left: 5%;
    right: 5%;
  }
  width: 90%;

  display: grid;
  grid-template-columns: 100%;

  @include for-size($phone-land){
    margin:{
      left: 10%;
      right: 10%;
    }
    width: 80%;
  }

  @include for-size($tablet-port){
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;

    margin:{
      left: 8%;
      right: 8%;
      top: 35px;
    }
  }

  @include for-size($tablet-land){

    width: 80%;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;

  }

  @include for-size($desktop){

    width: 60%;
    margin:{
      left: 20%;
      right: 20%;
      top: 60px;
    }

    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;

  }

}

.article-preview{
  margin: 50px 0;
}

.article-preview a{
  color: inherit;
}

.article-preview-tags{
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin-bottom: -50px;
}

.article-tag{
  display: inline-block;
  padding: 0 15px;
  margin: 0 5px;
  background-color: $yellow_base;
  color: $yellow_strong;
  border-radius: 25px;
  font-size: 50px;
  font-family: 'Raleway';
  font-weight: bold;

  @include for-size($phone-land){
    font-size: 35px;
  }

  @include for-size($tablet-port){
    font-size: 30px;
  }

  @include for-size($tablet-land){
    font-size: 25px;
  }
}

.article-tag a{
  font-family: 'Raleway';
  color: $yellow_strong;
}

.article-preview-img{
  width: 100%;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.article-preview-title{
  color: $yellow_base;
  font-size: 65px;
  margin-top: 10px;
  margin-bottom: 3px;
  word-wrap: break-word;

  @include for-size($phone-land){
    font-size: 50px;
    text-align: center;
  }

  @include for-size($tablet-port){
    font-size: 45px;
    margin-bottom: 35px;
    text-align: center;
  }

  @include for-size($tablet-land){
    font-size: 45px;
    margin-bottom: 35px;
    text-align: center;
  }

  @include for-size($desktop){
    font-size: 55px;
    margin-bottom: 50px;
    text-align: center;
  }
}

.article-preview-sub{
  font-size: 40px;
  margin: 0;
  word-wrap: break-word;

  @include for-size($phone-land){
    font-size: 30px;
    text-align: justify;
  }

  @include for-size($tablet-port){
    font-size: 30px;
    text-align: justify;
  }

  @include for-size($tablet-land){
    font-size: 25px;
    text-align: justify;
  }
}

.load-more-button{
  @extend .session-button;
  font-size: 65px;
  font-family: 'Abril Fatface';
  margin-bottom: 30px;
  border-radius: 40px;

  @include for-size($phone-land){
    font-size: 40px;
  }
}

.article-form-container{
  width: 90%;
  margin: 10% 5%;
}

.articles-editor{
  width: 100%;
}

.edit-article-title{
  font-size: 80px;
  color: $yellow_base;
  text-align: center;
}

.editor-label{
  @extend .session-button;
  font-size: 30px;
  margin: 0;
  padding: 5px 10px;
}

.editor-header-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.editor-article-title{
  @extend .session-input;
  margin: 50px 0;
  font-size: 30px;
  padding: 8px;
  width: 100%;
  border:{
    style: solid;
    color: $yellow_base;
    width: 5px;
  }
}

.editor-tags-selector{
  display: block;
  width: 100%;
  margin: 30px 0;
  border: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editor-tags-selector *{
  @extend .article-tag;
}

.check-draft{
  margin: 30px 0;
}

.draft-label{
  font-size: 30px;
  margin-left: 10px;
  color: $yellow_base;
}

.article-header-zone{
  width: 100%;
  height: 300px;
  background-position: 50% 50%;
  background-attachment: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;

  @include for-size($phone-land){
    height: 250px;
  }

  @include for-size($tablet-port){
    height: 350px;
  }
}

.article-title-container{
  width: 80%;
  height: 70%;
  margin: 15% 10%;
  background-color: $yellow_base;
  word-wrap: break-word;

}

.article-title{
  text-align: center;
  color: $blue_nice;
  font-size: 70px;
  margin: 10px;
}

.article-content-zone{
  margin: 10% 5%;
  width: 90%;
  word-wrap: break-word;
  word-break: keep-all;

  @include for-size($phone-land){
    margin: 5% 10%;
    width: 80%;
  }

  @include for-size($tablet-port){
    margin: 5% 15% 20% 15%;
    width: 70%;

  }
}

.article-content-zone p span{
  font-size: 45px;

  @include for-size($tablet-port){
    font-size: 500px;
    line-height: 0.85;
  }
}

.article-time{
  margin: 10px 5%;
  font-size: 35px;
  color:$yellow_base;
}

.article-end-list{
  font-size: 35px;
  margin: 5%;
}

.draft-tag{
  margin-top: 100px;
  font-size: 30px;
}

.article-display{
  @include for-size($tablet-port){
    display: none;
  }

  @include for-size($tablet-land){
    display: none;
  }

  @include for-size($desktop){
    display: none;
  }
}

.article-home-thumb{
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 6%;
  height: 6%;

  margin-left: 5%;
  padding-top: 20px;

  background-color: $blue_nice;

  @include for-size($tablet-port){
    display: inline;
  }

  @include for-size($tablet-land){
    display: inline;
  }

  @include for-size($desktop){
    display: inline;
  }
}

.logo-thumb{
  width: 100%;
  height: auto;
}
