@import 'base/vars';
@import 'base/mixins';

.header{
  width: 100%;
  height: 20%;
  background-color: $yellow_base;
  display: flex;
  align-items: center;
  padding: 10px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  @include for-size($phone-land){
    height: 50px;
  }

  @include for-size($tablet-port){
    height: 360px;
    flex-direction: column;

    background: linear-gradient(
      $yellow_base_transparent,
      $yellow_base_transparent),
      url(https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/background%400%2C5x.png);
    background-position: 50% 1500%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }

  @include for-size($tablet-land){
    height: 250px;/**TODO: Arreglar para vista de artículo*/
    flex-direction: column;

    background: linear-gradient(
      $yellow_base_transparent,
      $yellow_base_transparent),
      url(https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/background%400%2C5x.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  @include for-size($desktop){
    height: 350px;
    flex-direction: column;

    background: linear-gradient(
      $yellow_base_transparent,
      $yellow_base_transparent),
      url(https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/background%400%2C5x.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

  }
}

.header-left{
  display: flex;
  align-items: center;
  flex-direction: row;

  @include for-size($tablet-port){
    flex-direction: column;
  }

  @include for-size($tablet-land){
    flex-direction: column;
  }

  @include for-size($desktop){
    flex-direction: column;
  }
}

.header-right{
  display: flex;
  align-items: center;
  padding: 20px;

  @include for-size($phone-land){
    padding-right: 5px;
  }

  @include for-size($tablet-port){
    display: none;
  }

  @include for-size($tablet-land){
    display: none;
  }

  @include for-size($desktop){
    display: none;
  }

}

.header *{
  margin: 0 10px;
}

.header-logo{
  width: 20%;
  height: 20%;


  @include for-size($phone-land){
    width: 10%;
  }

  @include for-size($tablet-port){
    width: 25%;
  }

  @include for-size($tablet-land){
    width: 20%;
  }

  @include for-size($desktop){
    width: 14%;
  }
}

.header h1{
  color: $blue_nice;
  font-size: 60px;

  @include for-size($phone-land){
    font-size: 40px;
  }

  @include for-size($tablet-port){
    font-size: 65px;
  }

  @include for-size($desktop){
    font-size: 55px;
  }
}

.header ul{
  display: none;

  @include for-size($tablet-port){
    display: inline-block;
    align-self: flex-start;
    margin: 0;
    padding: 0;
  }

  @include for-size($tablet-land){
    display: inline-block;
    align-self: flex-start;
    margin: 0;
    padding: 0;
  }

  @include for-size($desktop){
    display: inline-block;
    align-self: flex-start;
    margin: 0;
    padding: 0;
  }
}

.menu-header-item{
  display: inline-block;
}

.menu-header-item a{
  font-size: 40px;
  color: $blue_nice;

  @include for-size($tablet-land){
    font-size: 30px;
  }

  @include for-size($desktop){
    font-size: 25px;
  }
}

.header-right i{
  color: $blue_nice;
  font-size: 50px;

  @include for-size($phone-land){
    font-size: 40px;
  }

  @include for-size($tablet-port){
    font-size: 65px;
  }

}

.header-home{
  width: 100%;
  height: 100%;

  @include for-size($tablet-port){
    margin-top: 25px;
  }
}

.author-header{
  color: $blue_nice;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Raleway';
  padding: 0 20px;

  @include for-size($phone-land){
    font-size: 30px;
  }

  @include for-size($tablet-port){
    font-size: 50px;
  }
}

.menu-layout{
  width: 100%;
  height: 100%;

  background: linear-gradient(
    $yellow_base_transparent,
    $yellow_base_transparent),
    url(https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/background%400%2C5x.png);

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  opacity: 0;
  display: none;
  transition: opacity 0.2s;

}

.menu-layout ul {
  list-style-type: none;
  padding: 0;
  margin: 50% 0;

  @include for-size($phone-land){
    margin: 10% 0 5% 0;
  }

  @include for-size($tablet-port){
    margin: 25% 0;
  }
}


.menu-layout-close{
  font-size: 100px;

  padding: 50px;
  position: absolute;
  top: 0;
  right: 0;

  color: $blue_nice;

  @include for-size($phone-land){
    font-size: 50px;
    padding: 25px;
  }

  @include for-size($tablet-port){
    font-size: 60px;
    padding: 50px;
  }
}

.menu-layout-item{
  text-align: center;
}

.menu-layout-item a{
  margin: 30px 0;
  color: $blue_nice;
  font-size: 80px;

  @include for-size($phone-land){
    font-size: 50px;
  }

  @include for-size($tablet-port){
    font-size: 100px;
  }
}

.layout-media-icons{
  display: flex;
  align-items: center;
  justify-content: center;

}

.layout-media-icons a{
  color: $blue_nice;
  font-size: 150px;
  padding: 30px;

  @include for-size($phone-land){
    padding: 20px;
    font-size: 75px;
  }

  @include for-size($tablet-port){
    padding: 20px;
    font-size: 140px;
  }
}
