@import 'base/vars';
@import 'base/mixins';

.manteinance-dialog{
  width: 100%;
  height: 100%;

  height: 100vh;

  width: 100vw;

  margin: 0;

  background: linear-gradient(
    $yellow_base_transparent,
    $yellow_base_transparent),
    url(https://s3.eu-west-2.amazonaws.com/luismoyanoblog/logo/background%400%2C5x.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.manteinance-data{
  display: block;

  @include for-size($phone-land){
    display: inline-block;
  }

  @include for-size($tablet-land){
    display: block;
  }

  @include for-size($desktop){
    display: inline-block;
  }

}

.manteinance-header{
  text-align: center;
  color: $blue_nice;
  font-size: 30px;
  margin: 15px;

  @include for-size($phone-land){
    font-size: 28px;
    margin: 5px;
    text-align: left;
  }

  @include for-size($tablet-port){
    font-size: 50px;
    margin: 5%;
  }

  @include for-size($tablet-land){
    font-size: 50px;
    margin: 5%;
    text-align: center;
  }

  @include for-size($desktop){
    font-size: 60px;
    margin: 5%;
    text-align: left;
  }
}

.manteinance-content{
  text-align: center;
  color: $blue_nice;
  font-weight: bold;
  margin: 10%;
  background-color: $yellow_base_transparent;

  @include for-size($phone-land){
    font-size: 15px;
    margin: 5px;
    text-align: left;
  }

  @include for-size($tablet-port){
    font-size: 30px;
    margin: 5%;
  }

  @include for-size($tablet-land){
    font-size: 25px;
    margin: 0 20%;
    text-align: center;
  }

  @include for-size($desktop){
    font-size: 25px;
    margin: 5%;
    text-align: left;
  }
}

.manteinance-logo{
  width: 50%;
  height: auto;
  margin: 15% 25% 10% 25%;

  @include for-size($phone-land){
    display: inline-block;
    width: 30%;
    margin: 0;
    margin-top: 12%;
    margin-left: 5%;
  }

  @include for-size($tablet-port){

  }

  @include for-size($tablet-land){
    width: 30%;
    height: auto;
    margin: 10% 35% 2% 35%;
  }

  @include for-size($desktop){

  }
}

.manteinance-media{
  font-size: 50px;
  text-align: center;

  @include for-size($phone-land){
    font-size: 30px;
    margin: 5px;
    text-align: left;
  }

  @include for-size($tablet-port){
    font-size: 70px;
  }

  @include for-size($tablet-land){
    font-size: 50px;
    text-align: center;
  }

  @include for-size($desktop){
    font-size: 60px;
    margin: 50px;
    text-align: left;
  }

}

.manteinance-media a{
  color: $blue_nice;
}
