@import 'base/vars';

.session-title{
  text-align: center;
  font-size: 10vh;
  color: $blue_nice;
}

.session-form{
  margin: 0 10%;
  width: 80%;
  background-color: $blue_nice;
  padding: 20px;
  border-radius: 20px;
}

.session-input{
  width: 90%;
  margin: 15px 5%;
  padding: 3% 15px;
  border-radius: 30px;
  font-size: 35px;
}

.session-button{
  background-color: transparent;
  text-align: center;
  font-size: 35px;
  color: $yellow_base;
  border:{
    style: solid;
    radius: 30px;
    color: $yellow_base;
    width: 5px;
  }
  margin: 0 10%;
  width: 80%;
}

.session-check-field{
  width: 90%;
  margin: 15px 5%;
  padding: 3% 15px;
  font-size: 35px;
  color: $yellow_base;
}

.session-links{
  width: 90%;
  margin: 15px 5%;
  padding: 3% 15px;
  font-size: 25px;
}

.session-links a{
  color: $yellow_base;
}
