h1, h2, h3, h4, h5, h6{
    font-family: 'Abril Fatface', sans-serif;
    text-decoration: none;
}

a, label{
    font-family: 'Abril Fatface', sans-serif;
    text-decoration: none;
}

a, button, input[type=submit]{
  cursor: pointer;
  font-family: 'Abril Fatface', sans-serif;
}

p, li{
    font-family: 'Raleway', sans-serif;
}

$check-size: 4;
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale($check-size); /* IE */
  -moz-transform: scale($check-size); /* FF */
  -webkit-transform: scale($check-size); /* Safari and Chrome */
  -o-transform: scale($check-size); /* Opera */
  padding: 10px;
}
