/*-------------------------MEDIA QUERIES--------------------------*/

$phone-port: phone-port;
$phone-land: phone-land;
$tablet-port: tablet-portrait-up;
$tablet-land: tablet-landscape-up;
$desktop: desktop-up;
$big-desktop: big-desktop-up;


@mixin for-size($size) {
  @if $size == $phone-port {
    @media only screen and (min-width : 425px) and (orientation: portrait) { @content; }
  }
  @if $size == $phone-land {
    @media only screen and (min-width : 425px) and (orientation: landscape) { @content; }
  }
  @else if $size == $tablet-port {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) { @content; }
  }
  @else if $size == $tablet-land {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) { @content; }
  }
  @else if $size == $desktop {
    @media only screen and(min-width: 1025px) { @content; }
  }
  @else if $size == $big-desktop {
    @media only screen and(min-width: 1440px) { @content; }
  }
}
