<h2 class="session-title">Log in</h2>

<div class= "session-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "session-input", placeholder: 'email' %>
    </div>

    <div class="field">
      <!--<%= f.label :password %><br />-->
      <%= f.password_field :password, autocomplete: "off", class: "session-input", placeholder: 'password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field session-check-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'session-button' %>
    </div>
  <% end %>
  <div class="session-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
